@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.xblock-render .building_simulation_block #buildingSimulationContent {
  position: relative;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
}

.xblock-render .building_simulation_block #buildingSimulationContent div {
  position: absolute;
  top: 60px;
  transform: translate(-50%, -18%);
}

.building_simulation_block #buildingSimulationContent {
  background: url("https://s3-us-west-2.amazonaws.com/mit-cre-edx/xblocks/building_simulation/bg-static-19-activity.jpg");
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.building_simulation_block #buildingSimulationContent div {
  text-align: center;
  width: 80%;
  padding: 10%;
  margin: auto;
  display: none;
  color: #fff;
  font-family: "Hind", sans-serif !important;
  font-weight: 300;
  line-height: normal;
}

.building_simulation_block #buildingSimulationContent #splash {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.building_simulation_block #buildingSimulationContent h1 {
  font-family: Lora;
  text-align: left;
  color: white;
}

.building_simulation_block #buildingSimulationContent h4 {
  font-size: 36px !important;
  font-family: "Lora", sans-serif !important;
  line-height: normal;
  color: #fff !important;
  padding: 30px 0 35px;
  text-align: center;
  margin: 0 !important;
}

.building_simulation_block #buildingSimulationContent p {
  font-family: Hind;
}

.building_simulation_block .button-container {
  position: fixed;
  top: unset;
  right: 2rem;
  bottom: 2rem;
  left: unset;
}

.building_simulation_block button {
  padding: 6px 60px;
  margin: 0 auto;
  font-family: Roboto, Hind;
  color: #fff;
  background: transparent;
  border: 1px solid white;
  border-radius: 0;
  box-shadow: 0 0 0;
  text-shadow: 0 0 0;
  font-size: 14px;
  font-size: .875rem;
  font-family: "Roboto" !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 40px;
}

.building_simulation_block #splash button {
  padding: 20px 60px !important;
}

.building_simulation_block button.back,
.building_simulation_block #persistentButtonContainer .reset {
  margin-right: 1em;
}

.building_simulation_block button:hover,
.building_simulation_block button:focus {
  color: black;
  background: white;
  box-shadow: 0 0 0;
}

/* SUMMATIONS */
.building_simulation_block .summation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  padding-top: 5%;
  z-index: 11;
}

.building_simulation_block .summation ul {
  list-style: none;
  text-align: center;
}

.building_simulation_block #summationTop > li {
  margin-right: 2em !important;
}

.building_simulation_block #summationBottom > li {
  padding: 0 1em;
}

.building_simulation_block .summation-section {
  position: relative;
  height: 40%;
  margin: auto;
}

@media screen and (min-width: 1400px) {
    .building_simulation_block .summation-section {
      width: 60%;
    }
}

.building_simulation_block .align-bottom {
  position:  absolute;
  bottom: -15px;
  width: 100%;
}

.building_simulation_block .summation-section ul li {
  color: white;
  text-align: left;
  display: inline-block;
  margin: 2px !important;
  font-family: Hind;
  min-width: 15%;
  vertical-align: top;
}

.building_simulation_block .value-number:before {
  content: "$";
  font-size: 25px;
  line-height: 45px;
  font-weight: bold;
  vertical-align: top;
  display: inline;
}

.building_simulation_block .value-number {
  content: "$";
  font-size: 50px;
  vertical-align: top;
}

.building_simulation_block .value-label {
  font-size: 20px;
  padding-left: 15px;
}

.building_simulation_block hr {
  margin: 2em auto;
  width: 75%;
  border: 0 none;
  height: 1px;
  background: white;
  opacity: .3;
}

.building_simulation_block .type-title {
  text-transform: uppercase;
  font-size: 12px;
}

.building_simulation_block ul.type-list {
  padding: 5px 0 0 0;
  text-align: left;
}

.building_simulation_block .type-list li {
  height: 40px;
  width: 40px;
  margin: 0 !important;
  background: red;
  padding: 0;
}

.building_simulation_block .type-list li.small {
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.building_simulation_block .type-list.orange li {
  background: #E69C17;
}

.building_simulation_block .type-list.yellow li {
  background: #FDE579;
}

.building_simulation_block .type-list.teal li {
  background: #54939C;
}

.building_simulation_block .type-list.aqua li {
  background: #A0D5CD;
}

.building_simulation_block .type-list.pink li {
  background: #D58564;
}

.building_simulation_block .type-list.brown li {
  background: #8D695B;
}

.building_simulation_block .type-list.blue li {
  background: #5E8FB7;
}

.building_simulation_block .type-list.green li {
  background: #A0AF5A;
}

.building_simulation_block .type-list.purple li {
  background: #916D9B;
}

