.meter {
    height: 26px;
    position: relative;
    margin: 1em 0;
    background: rgb(104,17,17);
    background: -moz-linear-gradient(left,  rgba(104,17,17,1) 0%, rgba(188,171,172,1) 71%, rgba(178,162,162,1) 98%);
    background: -webkit-linear-gradient(left,  rgba(104,17,17,1) 0%,rgba(188,171,172,1) 71%,rgba(178,162,162,1) 98%);
    background: linear-gradient(to right,  rgba(104,17,17,1) 0%,rgba(188,171,172,1) 71%,rgba(178,162,162,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#681111', endColorstr='#b2a2a2',GradientType=1 );
}

.meter > span {
  display: block;
  height: 100%;
  background-color: transparent;
  position: relative;
  transition: width 0.6s;
}

.meter > span:after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
  height: 32px;
  margin-top: -3px;
  border-right: 1px solid white;
}
