.building_simulation_block {
  position: inherit;
  height: 540px;
}

.xblock-render .building_simulation_block #webgl {
  position: absolute;
  top: 60px;
  left: 30px;
}

.building_simulation_block a {
  cursor: pointer;
  color: white;
}

.building_simulation_block span, .building_simulation_block a {
  font-family: Hind;
  color: white;
}

.building_simulation_block #webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.building_simulation_block .colorCell {
  padding: 5px !important;
}

.building_simulation_block .blockMenuItem {
  padding-top: 5px;
}

.building_simulation_block #valueBoard,
.building_simulation_block #blockMenuResidential,
.building_simulation_block #blockMenuCommercial {
  position: fixed;
  padding: 1em;
  background-color: black;
  color: white;
  z-index: 10;
}

.building_simulation_block #valueBoard {
  display: none;
  left: 20px;
  bottom: 2rem;
  width: 350px;
  padding: 0.5em 1em 0;
}

.building_simulation_block .value-span {
  float: right;
}

.building_simulation_block #blockMenuResidential, .building_simulation_block #blockMenuCommercial {
  display: none;
  top: 30px;
  right: 30px;
  width: 330px;
  height: 320px;
  color: white;
  background-color: black;
}

.building_simulation_block #blockMenuResidential {
  height: 120px;
}

.building_simulation_block #selectTypeTitle {
  margin-bottom: 1em;
}

.building_simulation_block .blockMenuItem {
  cursor: pointer;
}

.building_simulation_block .menu-label {
  display: inline-block;
  width: 100%;
  margin-bottom: 2px;
  padding: 6px 0px;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 1px;
  font-family: Hind;
}

.building_simulation_block .menu-label a {
  padding-left: .6em;
}

.building_simulation_block .menu-label:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.building_simulation_block .menu-label.orange {
  background-color: #9C712D;
}

.building_simulation_block .menu-label.orange:hover {
 background-color: #E88817;
}

.building_simulation_block .menu-label.yellow {
  background-color: #8F7A37;
}

.building_simulation_block .menu-label.yellow:hover {
  background-color: #DCBF36;
}

.building_simulation_block .menu-label.blue {
  background-color: #345157;
}

.building_simulation_block .menu-label.blue:hover {
  background-color: #55949C;
}

.building_simulation_block .menu-label.lightblue {
  background-color: #5D7D78;
}

.building_simulation_block .menu-label.lightblue:hover {
  background-color: #98D1CA;
}

.building_simulation_block .menu-label.lightbrown {
  background-color: #794935;
}

.building_simulation_block .menu-label.lightbrown:hover {
  background-color: #DA886A;
}

.building_simulation_block .menu-label.brown {
  background-color: #5C3F37;
}

.building_simulation_block .menu-label.brown:hover {
  background-color: #997566;
}

.building_simulation_block .menu-label.deepblue {
  background-color: #405660;
}

.building_simulation_block .menu-label.deepblue:hover {
  background-color: #6296BE;
}

.building_simulation_block .menu-label.green {
  background-color: #747742;
}

.building_simulation_block .menu-label.green:hover {
  background-color: #B2C16E;
}

.building_simulation_block .menu-label.purple {
  background-color: #543A55;
}

.building_simulation_block .menu-label.purple:hover {
  background-color: #9772A2;
}
